

.todoApp__todoItem {
    /*width: 400px;*/
    width: 100%;
    /*min-width: 400px;*/
    padding: 10px 12px;
    border-radius: 4px;
    padding: 10px 0 10px 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.todoApp__todoItem_buttonsArea{
    display: flex;
    align-items: center;
    margin-top: 16px;
    gap: 10px;
}

.todoApp__todoItem_inputArea{
    border-radius: 4px;
    border: 1px solid var(--gray_200);
    background: var(--primary-50);
    width: 415px;
    height: 38px;
    padding-top: 10px;
}

.todoApp__todoItem_input{
    padding-left: 15px;
}

::placeholder{
    color: var(--gray_500)
}

.todo__title {
    margin-left: 33px;
    text-decoration: underline;
    color: var(--gray_300);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
}

.todoApp__title:hover {
    color: #000000;
}


.plus {
    background: var(--gray_300);
    height: 20px;
    width: 2px;
    position: relative;
    left: 8px;
    margin-right: 32px;
}
.plus:after {
    content: "";
    height: 2px;
    width: 20px;
    background: var(--gray_300);
    position: absolute;
    left: -8px;
    top: 8px;
}

