
.todoApp__todoItem {
    /*width: 400px;*/
    width: 100%;
    /*min-width: 400px;*/
    padding: 10px 12px;
    border-radius: 4px;
    padding: 10px 0 10px 5px;


    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.todo__title {
    margin-left: 33px;
    text-decoration: underline;
    color: var(--gray_300);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
}

.todoApp__title:hover {
    color: #000000;
}


.plus {
    background: var(--gray_300);
    height: 20px;
    width: 2px;
    position: relative;
    left: 8px;
    margin-right: 32px;
}
.plus:after {
    content: "";
    height: 2px;
    width: 20px;
    background: var(--gray_300);
    position: absolute;
    left: -8px;
    top: 8px;
}

