
.todoApp__todoItem {
    /*width: 400px;*/
    width: 100%;
    /*min-width: 400px;*/
    padding: 10px 12px;
    border-radius: 4px;
    padding: 10px 0 10px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.todo__title {
    /*margin-left: 16px;*/
    margin: 0 16px;
    color: var(--black_1000);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.15px;
    padding-top: 5px;
}

.disc__active {
    cursor: pointer;
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--turquoise_50);
}

.disc__completed {
    cursor: pointer;
    flex-shrink: 0;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px var(--gray_300) solid;
    /*background-color: var(--turquoise_50);*/
}

.todoApp__todoItem_taskInfo{
    display: flex;
}

.todo__delete {
    cursor: pointer;
    margin-left: auto;
    margin-right: 24px;
}

.todo__delete:before, .todo__delete:after {
    /*flex-shrink: 0;*/
    /*display: block;*/
    content: "";
    position: absolute;
    width: 15px;
    height: 1.5px;
    background: var(--gray_300);
}

.todo__delete:before {
    transform: rotate(45deg);
}

.todo__delete:after {
    transform: rotate(-45deg);
}

