.listItem {
    color: #000;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.15px;
	display: flex;
	justify-content: space-between;  
}

.list__item {
	width: 160px;
	padding: 10px 12px;
	border-radius: 4px;
	display: flex;
}

.disc {
	flex-shrink: 0;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--turquoise_50);
}

.item__title {
	margin-left: 10px;
	color: var(--black_1000);
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.15px;
	white-space: nowrap; /* Запрещаем перенос строк */
	overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
	flex-grow: 1;
	max-width: 100px;
}

.list__item:hover {
	box-shadow: 0px 2px 10px 0px var(--box-shadow-light);
	background-color: white;
}

.icon__item {
	height: 15px;
	width: 15px;
	cursor: pointer;
	opacity: 0;
	position: relative;
	bottom: 2px;
	margin-left: 5px;
}

.list__item:hover > .icon__item {
	opacity: 1;
}


/* 
.disc.red{
    background-color: var(--red_50);}

.disc.green{
    background-color: var(--turquoise_50);}

.disc.blue{
    background-color: var(--cyan_100);}

.disc.brown{
    background-color: var(--dirtTurquoise_50);} */