.variantBtn {
	max-width: 160px;
	height: 37px;

	padding: 10px 21px;
	border-radius: 4px;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: transparent;
	color: var(--gray_700);
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.15px;

	cursor: pointer;

	transition: background-color 0.3s ease-in-out;
}

.variantBtn img {
	--size: 10px;
	margin-right: 20px;
	width: var(--size);
	height: var(--size);
}

.variantBtn:hover {
	box-shadow: 0px 2px 10px 0px var(--box-shadow-dark);
}