.variantBtn {
	position: relative;
	width: 160px;
	height: 37px;

	border-radius: 5px;

	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--gray_700);
	background-color: transparent;

	transition: background-color 0.3s ease-in-out;
}

.variantBtn img {
    --size: 10px;
    margin-right: 10px;
    width: var(--size);
    height: var(--size);
}

.variantBtn:hover {
	box-shadow: 1px 1px 10px 1px var(--gray_700);
}