/*---------------------------- Размеры шрифта --------------------------------------*/
.f-sm {
	font-size: 16px;
}

.f-med {
	font-size: 18px;
}

.f-big {
	font-size: 24px;
}

/*---------------------------- Цвета элементов --------------------------------------*/
.primary {
	color: #F25551;
}

.second-200 {
	color: #FEEDE1;
}

.second-100 {
	color: #FFFBFF;
}

.gradient {
	background: linear-gradient(rgba(99, 35, 41, 1) rgba(242, 85, 81, 1) rgba(80, 242, 131, 0.8));
}

.green-gradient {
	color: #50F283;
}

.dark-900 {
	color: #241722;
}

.dark-800 {
	color: #352432;
}

.dark-700 {
	color: #462730;
}

.dark-600 {
	color: #632329;
}

/*---------------------------- Цвета заднего фона элементов --------------------------------------*/
.bg-primary {
	background-color: #F25551;
}

.bg-second-200 {
	background-color: #FEEDE1;
}

.bg-second-100 {
	background-color: #FFFBFF;
}

.bg-gradient {
	background: linear-gradient(rgba(99, 35, 41, 1), rgba(242, 85, 81, 1), rgba(80, 242, 131, 0.8));
}

.bg-green-gradient {
	background-color: #50F283;
}

.bg-dark-900 {
	background-color: #241722;
}

.bg-dark-800 {
	background-color: #352432;
}

.bg-dark-700 {
	background-color: #462730;
}

.bg-dark-600 {
	background-color: #632329;
}

/* ---------------------------- {...} -------------------------------------- */