@font-face {
	font-family: 'Lato', sans-serif;
	src: url('/public/fonts/Lato/Lato-Medium.ttf');
	font-weight: 500;
}

@font-face {
	font-family: 'Lato', sans-serif;
	src: url('/public/fonts/Lato/Lato-Semibold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat', sans-serif;
	src: url('/public/fonts/Montserrat/Montserrat-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto', sans-serif;
	src: url('/public/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: 400;
}

body {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
}