.todoApp__taskArea {
    grid-area: tasks;
    /*margin: auto;*/
    background-color: var(--primary_50);
    padding: 48px 20px;
}

.todoApp__taskArea p {
    text-align: center;
    color: var(--gray_100);
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.line {
    width: auto;
    margin: 0 0 16px 0;
}

.taskArea__h1  {
    font-size: 32px;
    font-weight: bolder;
    color: var(--cyan_100);
    margin: 0 0 22px 0;
}